{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "off",
  "quoteProps": "as-needed",
  "vueIndentScriptAndStyle": true,
  "vueSingleFileComponentIndent": true,
  "overrides": [
    {
      "files": "*.{js,jsx,ts,tsx,json,css,scss,md}",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": ".prettierrc.js",
      "options": { "parser": "json5" }
    },
    {
      "files": ".editorconfig",
      "options": { "parser": "yaml" }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "quoteProps": "consistent",
        "tabWidth": 2
      }
    }
  ]
}
